# Sunucu Ayarları
PORT=3000
NODE_ENV=development

# PostgreSQL Veritabanı Ayarları
DB_HOST=localhost
DB_PORT=5432
DB_NAME=restaurant_db
DB_USER=your_username
DB_PASSWORD=your_password

# Uygulama Ayarları
API_PREFIX=/api/v1 